<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ADD NEW BLOG PAGE</title>
    <%- include('./partials/head') %>
  </head>
  <body>
    <%- include('./partials/nav') %>
    <div class="container mt-3">
      <form
        action="/BlogRoute/add-new"
        method="post"
        enctype="multipart/form-data"
      >
        <div class="mb-3">
          <label for="coverImage" class="form-label">Cover Image</label>
          <div class="cover-image-container">
            <img
              id="coverImagePreview"
              src=""
              alt="Cover Image"
              class="img-fluid"
              onclick="document.getElementById('coverImage').click();"
            />
            <input
              type="file"
              class="form-control"
              id="coverImage"
              name="coverImage"
              style="display: none"
              onchange="previewFile()"
            />
            <div id="placeholderText" class="placeholder-text">
              Click or Drag to Upload Image
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            name="title"
            aria-describedby="emailHelp"
          />
        </div>
        <div class="mb-3">
          <label for="body" class="form-label">Body</label>
          <textarea name="body" class="form-control" id="body"></textarea>
        </div>
        <div class="mb-3">
          <button class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
    <%- include('./partials/script') %>
  </body>
</html>
<script>
  tinymce.init({
    selector: "#body",
    menubar: false,
    plugins: "link image code",
    toolbar:
      "undo redo | bold italic | alignleft aligncenter alignright | code",
    branding: false,
  });

  function previewFile() {
    const preview = document.getElementById("coverImagePreview");
    const placeholderText = document.getElementById("placeholderText");
    const file = document.getElementById("coverImage").files[0];
    const reader = new FileReader();

    reader.addEventListener(
      "load",
      function () {
        preview.src = reader.result;
        placeholderText.style.display = "none";
      },
      false
    );

    if (file) {
      reader.readAsDataURL(file);
    }
  }
</script>
<style>
  .cover-image-container {
    position: relative;
    width: 100%;
    height: 200px; /* Adjust as needed */
    border: 2px dashed #ddd;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #coverImagePreview {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
  }

  .placeholder-text {
    position: absolute;
    color: #aaa;
    text-align: center;
    font-size: 16px;
    pointer-events: none;
  }
</style>
