<!DOCTYPE html>
<html lang="en">
  <head>
    <title>HOME PAGE</title>
    <%- include('./partials/head') %>
  </head>
  <body>
    <%- include('./partials/nav') %>
    <%- include('./partials/script') %>
  </body>
</html>
